body,
#root {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ff5a00;
}

.jcp-spinner {
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.jcp-spinner > div {
  background-color: #ff5a00;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.jcp-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.jcp-spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.jcp-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.jcp-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.jcp-spinner .rect6 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
